body{
  height: 100vh;
  width: 100vw;
  background-color: #edf2f4;
  font-family: "Syne Mono", monospace;
  font-size: 15px;
  color: #2b2d42;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

}

*{
    margin: 0%;
  }

#app{
    background-image: url(./assets/background_menu.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

#fightIcon{
    width: 100px;
    height: 100px;
}

#div_menu{
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #edf2f4;
}

#div_menu h1 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1{
  font-family: "Cinzel", serif;
}

#options{
    width: 60px;
    height: 30px;
    border-radius: 7px;
    border: white;
    margin-bottom: 2%;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    height: 95%;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
}

h2{
    font-family: "Cinzel", serif;
    font-size: 30px;
    margin: 2% !important ;
}

#challengerOne,
#challengerTwo {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.containerButtons{
    margin: 1%;
    position: absolute;
    bottom: 10px;
}

.divContainerImages {
    display: flex;
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.divContainerImages img{
    width: 230px;
    height: 230px;
    border-radius: 10px;
    margin: 1%;
}

p{
    font-family: "Cinzel", serif;
    font-size: 20px;
    margin: 0% !important ;
  

}

.tip{
  background-color: aliceblue;
}

.information{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 95%;
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    padding: 1%;
    align-items: center;
    justify-content: center;
    margin: 2%;
}


.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .cards .red {
    background-color: #f43f5e;
  }
  
  .cards .blue {      
    background-color: #3b82f6;
  }
  
  .cards .green {
    background-color: #22c55e;
  }
  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
    font-family: "Cinzel", serif;
    font-size: 20px;
  }
  
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: 20px;

  }
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);

  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

  #rounds{
    font: menu;
  }



  @media (max-width: 1100px){

    h2{
      font-size: 1.75rem;
    }

    .divContainerImages img{
      width: 200px;
      height: 200px;
    }

    .containerButtons{
      bottom: 70px;
    }
  }

  @media(max-width: 960px){
    h1{
      font-size: 5rem !important;
    }

    h2{
      font-size: 1.75rem !important;
    }

    .divContainerImages{

      height: 55%;
    }

  }

  @media(max-width:830px){

    #div_menu{
      width: 80%;
      padding: 25px 0px 150px 0px;
    }

    h1{
      font-size: 4rem !important;
      letter-spacing: 0px !important;
      line-height: 50px !important;
      margin: 2%;
    }

   .cards .card{
    width: 200px;
   }


   p{
    font-size: 13px !important;
    font-weight: 600;
   }

   .cards button{
    font-size: 13px !important;
    font-weight: 600;
    width: 150px !important;
    align-self: center;
    height: 35px !important;
    border-radius: 50px !important;
   }

   .cards input{
    font-size: 13px !important;
    font-weight: 600;
    align-self: center;
    height: 25px !important;
    border-radius: 10px !important;
   }
  }
  



  @media(max-width:650px){
    
    p{
      font-size: 15px !important;
      font-weight: 600;
     }

     
   .cards button{
    font-size: 15px !important;
 
   }

    h1{
      font-size: 5rem !important;
      line-height: 70px !important;
    }

    h2{
      font-size: 1.5rem !important;
    }

    .divContainerImages{
      height: 50%;
    }

    .divContainerImages img{
      width: 150px;
      height: 150px;
    }

    #fightIcon{
      width: 60px;
      height: 60px;
    }
  }

  @media(max-width:520px){

    .divContainerImages{
      height: 50%;
    }

    h1{
      font-size: 4rem !important;
      line-height: 70px !important;
    }


    .divContainerButtons{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      position: relative;
      bottom: 0px;
    }
  }

  @media(max-width:523px){
    .information{
      gap: 10px;
    }

    .divContainerImages img{
      width: 100px;
      height: 100px;
    }
  }

  @media (max-width: 465px){

    .information{
      width: 60%;
    }

    p{
      font-size: 15px;
    }

    .q-btn-group {
      width: 90%;
    }
    h1{
      font-size: 3rem !important;
    }

    h2{
      font-size: 1.2rem !important;
    }

    #fightIcon{
      width: 30px;
      height: 30px;
    }
  }

  @media (max-width: 375px){

    #div_menu{
      width: 90%;
      padding: 25px 0px 150px 0px;
    }


    h1{
      font-size: 3rem !important;
    }

    .mainContainer{
      width: 100%;
      height: 100%;
    }

    .divContainerImages{
      gap: 10px;
    }
  }