body{
  height: 100vh;
}

*{
    margin: 0;
  }

#app{
    background-image: url(./assets/background_menu.jpg);
    height: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

#fightIcon{
    width: 100px;
    height: 100px;
}

#div_menu{
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #edf2f4;
}

#div_menu h1 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1{
  font-family: "Cinzel", serif;
}

#options{
    width: 60px;
    height: 30px;
    border-radius: 7px;
    border: white;
    margin-bottom: 2%;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
}

h2{
    font-family: "Cinzel", serif;
    font-size: 30px;
    margin: 2% !important ;
}

#challengerOne,
#challengerTwo {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.containerButtons{
    margin: 2%;
}

.divContainerImages {
    display: flex;
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.divContainerImages img{
    width: 370px;
    height: 370px;
    border-radius: 10px;
    margin: 1%;
}

p{
    font-family: "Cinzel", serif;
    font-size: 20px;
    margin: 0% !important ;
  

}

.information{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 95%;
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    padding: 1%;
    align-items: center;
    justify-content: center;
    margin: 2%;
}


.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .cards .red {
    background-color: #f43f5e;
  }
  
  .cards .blue {      
    background-color: #3b82f6;
  }
  
  .cards .green {
    background-color: #22c55e;
  }
  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
    font-family: "Cinzel", serif;
    font-size: 20px;
  }
  
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: 20px;

  }
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);

  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

  #rounds{
    font: menu;
  }